body{
    height: 100vh;
   justify-content: center;
   align-items: center;
   display: flex;
   background-color: darksalmon;
   font-family: Verdana;
}
.all{
    border:  solid 2px double;
    border-radius: 8px;
    background-color: antiquewhite;
    padding: 20px;
}
.a1{
    font-size: x-large;
   border: 1px solid;
    border-radius: 20px;
    padding: 5px;
}
.a2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
}
button:hover{
    cursor:  grab ;
    transform:scale(1.2) ;
    transition: 0.3s;
   
}
button{
     width: 27%;
    padding: 5px 10px;
    background-color:  rgb(182, 146, 153);
    border:1px dotted;
    border-radius: 5px;
}
